@import "../style.scss";

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

.dynamic-element {
	opacity: 1;
	transition: all 0.3s ease;
}

.dynamic-element.js--unactive {
	opacity: 0;
}
